body {
    font-family: roboto, serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.header,.hero {
    display: flex;
    background: #1f2937;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.header-logo {
    font-size: 24px;
    color: #f9faf8;
}
.header-links {
    font-size: 18px;
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}
.hero {
    display: flex;
    padding: 50px;
    justify-content: space-around;
    gap: 20px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 100%;
    min-width: 200px;
    gap: 10px;
}
.hero-img {
    flex: 1 1 100%;
    max-height: 300px;
}
.hero-button {
    width: 100px;
    color: white;
    background: #3883f6;
    border-radius: 7px;
    text-decoration: none;
    padding: 5px;
    border: none;
}
.hero-text-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero-text-sub {
    font-size: 18px;
    color: #e5e7eb;
}
.info-title {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 50px;
}
.info-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.info {
    display: flex;
    flex-direction: column;
}
.info-card {
    width: 200px;
    height: 300px;
}
.info-img {
    border-radius: 5px;
    border-color: #3883f6;
    border: 2px, solid, #3883f6;
}
.info-subtext {
    text-align: center;
}
.qoute {
    display: flex;
    flex-direction: column;
    
    background: #e5e7eb;
    padding: 100px 200px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}
.author {
    text-align: right;
    font-weight: bold;
    font-style: normal;
}